.title {
	text-transform: uppercase;
	color: darkcyan;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	margin: 0 20px;

	border: none;
	background: transparent;
	font-size: 25px;
	color: grey;
}

.arrow:hover {
	cursor: pointer;
	color: rgb(88, 88, 88);
}
